.header {
  height: 750px;
  &__left-ls {
    text-transform: uppercase;
    width: 270px;
    font-size: 20px;
    line-height: 33px;
    li {
      position: relative;
      display: block;
      height: 80px;
      padding-left: 90px;
    }
    li::before {
      content: "";
      position: absolute;
      left: 0;
      display: block;
      height: 80px;
      width: 80px;
      background-repeat: no-repeat;
      background-size: cover;
    }
    li:nth-child(1)::before {
      background-image: url(../images/dest/list-1.png);
    }
    li:nth-child(2):before {
      background-image: url(../images/dest/list-3.png);
    }
    li:nth-child(3)::before {
      background-image: url(../images/dest/list-2.png);
    }
  }
  &__col-right {
    margin-top: 30px;
  }
  &__info {
    width: 400px;
    margin-left: auto;
    font-size: 43px;
    font-weight: lighter;
    line-height: 43px;
    color: $orange;
    text-transform: uppercase;
    span {
      color: $textcolor;
      font-size: 27px;
      font-weight: bold;
    }
    span:last-child {
      font-size: 25px;
      // line-height: 25px;
    }
  }
  &__discount {
    width: 400px;
    margin-left: auto;
    &-info {
      font-size: 42px;
      line-height: 48px;
      text-transform: uppercase;
      font-weight: bold;
    }
    &-procent {
      margin-left: 20px;
      vertical-align: top;
      font-size: 32px;
      line-height: 48px;
      font-weight: bold;
      color: $accent;
    }
    &-txt {
      padding-right: 100px;
      margin-bottom: 5px;
      text-transform: uppercase;
      font-size: 28px;
      line-height: 32px;
      color: $accent;
    }
    &--white {
      padding-right: 0;
      color: $textcolor;
    }
  }
  &__wrap {
    width: 400px;
    display: flex;
    margin-top: 23px;
    margin-left: auto;
  }
  &__prices {
    // padding: 5px;
    // padding: 0 30px;
    margin-left: 20px;
    order: 2;
    font-weight: bold;
    text-transform: uppercase;

    .newprice {
      color: #ff0000;
      font-size: 33px;
      line-height: 33px;
    }
    .oldprice {
      padding: 0 25px;
      color: #fff;
      text-transform: uppercase;
      font-size: 20px;
      line-height: 20px;
      text-decoration: line-through;
    }
  }
  &__btn {
    position: relative;
    right: 20px;
    top: 5px;
  }
  &__bottom-ls {
    text-transform: uppercase;
    position: relative;
    top: 140px;
    left: 80px;
    li {
      // position: relative;
      // top: 140px;
      // left: 80px;
      display: inline-block;
      line-height: 25px;
      font-size: 18px;
      padding-left: 50px;
      text-transform: uppercase;
      background: url(../images/dest/list.png) no-repeat 5px 50%;
    }
  }
  &__col-left {
    position: relative;
    top: 170px;
    left: 80px;
  }
  &__left-txt {
    display: inline-block;
    margin-left: 65px;
    margin-bottom: 100px;
  }
}

@media (max-width: 1199.98px) {
  .header {
    height: 700px;
    &__col-left {
      top: 160px;
      left: 15px;
    }
    &__left-txt {
      margin-bottom: 80px;
    }
    &__col-right {
      left: 65px;
      margin-top: 20px;
    }
    &__info {
      margin-bottom: 20px;
      span {
        line-height: 27px;
      }
    }
    &__discount-txt {
      font-size: 25px;
      padding-right: 0;
    }
    &__discount--white {
      font-size: 24px;
      margin-top: 10px;
      margin-bottom: 0;
    }
    &__wrap {
      margin-top: 33px;
    }
    &__prices {
      margin-left: 15px;
    }
    &__bottom-ls {
      top: 122px;
      left: 22px;
    }
  }
}

@media (max-width: 991.98px) {
  .header {
    height: 550px;
    &__col-left {
      top: 125px;
      left: -38px;
      // text-align: right;
      font-size: 15px;
      line-height: 20px;
    }
    &__left-txt {
      text-align: right;
      // margin-bottom: 60px;
    }
    &__left-ls {
      font-size: inherit;
      line-height: inherit;
      li {
        height: 50px;
        padding-left: 70px;
        &::before {
          margin-left: 10px;
          width: 50px;
          height: 50px;
        }
      }
    }
    &__col-right {
      text-align: right;
    }
    &__info {
      width: 345px;
      font-size: 40px;
      line-height: 20px;
      span:first-child {
        display: inline-block;
        padding-top: 20px;
      }
      span {
        font-size: 25px;
        font-weight: 500;
      }
    }
    &__discount-info {
      margin-right: 80px;
      font-size: 33px;
      line-height: 33px;
    }
    &__discount-procent {
      margin-left: 10px;
      font-size: 28px;
      line-height: 28px;
    }
    &__discount-txt {
      text-align: left;
      padding-left: 110px;
      font-size: 22px;
      line-height: 22px;
    }
    &__wrap {
      width: 330px;
      margin-top: 10px;
    }
    &__prices {
      margin-left: 0;
      text-align: center;
      line-height: 20px;
      .newprice {
        display: inline-block;
        margin-top: 4px;
        font-size: 25px;
        line-height: 25px;
      }
      .oldprice {
        display: inline-block;
        font-size: 18px;
        line-height: 18px;
      }
    }
    &__btn {
      top: 0;
      right: -10px;
      width: auto;
      max-width: 100%;
    }
    &__bottom-ls {
      top: 100px;
      left: -10px;
      li {
        background-size: 25px 25px;
        padding-left: 35px;
        font-size: 16px;
        line-height: 18px;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .header {
    height: 450px;
    &__col-left {
      top: 95px;
      left: -62px;
      font-size: 12px;
      line-height: 18px;
    }
    &__left-txt {
      margin-bottom: 60px;
    }
    &__left-ls {
      width: 200px;
      font-size: 14px;
      li {
        height: 45px;
        &::before {
          margin-left: 35px;
          width: 30px;
          height: 30px;
        }
      }
    }
    &__info {
      width: 280px;
      margin-bottom: 30px;

      font-size: 33px;
      line-height: 18px;
      span {
        font-size: 20px;
      }
      span:first-child {
        padding-top: 30px;
      }
      span:last-child {
        padding-left: 10px;
        font-size: 20px;
      }
    }
    &__discount {
      width: 280px;
    }
    &__discount-info {
      margin-right: 0;
      font-size: 30px;
      line-height: 30px;
    }
    &__discount-txt {
      display: none;
    }
    &__wrap {
      width: 280px;
      margin-top: 50px;
    }
    &__prices {
      line-height: 18px;
      .newprice {
        font-size: 18px;
        line-height: 18px;
      }
      .oldprice {
        font-size: 14px;
        line-height: 14px;
        padding: 0 10px;
      }
    }
    &__btn {
      height: 40px;
      margin-left: 20px;
      font-size: 20px;
      line-height: 20px;
    }
    &__bottom-ls {
      top: 80px;
      left: -25px;
      li {
        background-size: 20px 20px;
        padding-left: 30px;
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .header {
    height: 640px;
    &__col-left {
      display: none;
    }
    &__col-right {
      top: auto;
      left: auto;
    }
    &__info {
      span:last-child {
        padding-left: 50px;
      }
    }
    &__wrap {
      margin: 0;
      width: 150px;
      margin-left: auto;
    }
    &__prices {
      order: 0;
      padding: 0;
      margin-bottom: 15px;
      line-height: 20px;
      .newprice {
        font-size: 30px;
        line-height: 30px;
      }
      .oldprice {
        font-size: 20px;
        line-height: 20px;
      }
    }
    &__btn {
      right: 0;
      order: 0;
      margin: 0;
      padding: 0;
    }
    &__bottom-ls {
      top: 190px;
      left: auto;

      flex-direction: column;
      padding: 0 15px;
      li {
        margin: 6px 0;
        &:nth-child(even) {
          margin-top: -38px;
        }
        &:nth-child(odd) {
          margin-left: auto;
          margin-right: 10px;
        }
      }
    }
  }
}
