.reviews {
  position: relative;
  margin-bottom: 20px;
  height: 580px;
  background: url(../images/dest/reviews.png) no-repeat center top;
  &__items {
    width: 1000px;
    margin: 0 auto;
    padding-top: 170px;
  }
  &__item {
    display: inline-block;
    width: 260px;
    margin-left: 40px;
    margin-right: 30px;
  }
  &__footer {
    position: absolute;
    bottom: 0;
    padding: 10px 90px;
    color: $accent;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    font-size: 17px;
    line-height: 20px;
    font-style: italic;
  }
}

@media (max-width: 1199.98px) {
  .reviews {
    background-size: contain;
    &__items {
      width: auto;
      padding-top: 160px;
    }
    &__item {
      width: 240px;
      font-size: 15px;
      line-height: 25px;
    }
  }
}

@media (max-width: 991.98px) {
  .reviews {
    height: 450px;
    // background-size: contain;
    &__items {
      display: flex;
      justify-content: space-between;
      height: 368px;
      padding-top: 120px;
      padding-bottom: 15px;
    }
    &__item {
      display: flex;
      // flex-direction: column;
      flex-wrap: wrap;
      width: 205px;
      // height: 270px;
      margin: 0;
      font-size: 14px;
      line-height: 15px;
      p {
        margin: 0;
        line-height: 14px;
      }
      span {
        // margin-bottom: 20px;
        margin-top: auto;
        // line-height: 15px;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .reviews {
    width: auto;
    height: auto;
    min-height: 435px;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    &__items {
      height: 273px;
      padding-top: 85px;
      padding-bottom: 5px;
    }
    &__item {
      width: 150px;
      p {
        font-size: 12px;
        line-height: 12px;
      }
      span {
        display: none;
      }
    }
    &__footer {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media (max-width: 575.98px) {
  .reviews {
    padding: 0;
    background-size: cover;
    &__item:nth-child(odd) {
      display: none;
    }
    &__items {
      height: 450px;
      padding-top: 160px;
    }
    &__item {
      width: 275px;
      margin: 0 auto;
      padding: 0 25px 15px;
      text-align: center;
      p {
        font-size: 16px;
        line-height: 18px;
      }
      span {
        display: block;
      }
    }
    &__footer {
      display: none;
    }
  }
}
