.reviews {
  position: relative;
  margin-bottom: 20px;
  height: 580px;
  background: url(../../images/dest/reviews.png) no-repeat center top;
  &__items {
    // display: flex;
    width: 1000px;
    margin: 0 auto;
    // height: 340px;
    padding-top: 170px;
  }
  &__item {
    display: inline-block;
    width: 260px;
    // margin: 0 auto;
    margin-left: 40px;
    margin-right: 30px;
  }
  &__footer {
    position: absolute;
    bottom: 0;
    padding: 10px 90px;
    color: $accent;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    font-size: 17px;
    line-height: 20px;
    font-style: italic;
  }
}
